.menu {
  background-color: #804150;
}

.header {
    background-color: #CC6980;
    color: white;
}

.aboutMe,
.diary {
  color: #804150;
}



.introduction {
  background-color: #FFCFDA;
}

.allArticles {
  background-color: #FFCFDA;
}

.day {
  color: #80676D;
}
