body {
  background-color: #fefefe;
}

.header {
    color: #006DAA;
}

.introduction__aboutMe,
.diary {
  color: #003559;
}

.article__day {
  color: #C6878F;
}

.menuElement, .article__link {
  color: #444545;
}
